<!DOCTYPE html>
<html>
  <head>
    <title>Love Spreading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../css/selfdefine.css" rel="stylesheet" media="screen">
    <link href="../css/user.css" rel="stylesheet" media="screen">
  </head>
  <body> 
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home">Love Spreading</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home">物品瀏覽</a></li>
            <li><a href="upload">物品捐贈</a></li>
            <li data-toggle="modal" data-target="#myModal"><a href="#">Login</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">自由交易</a>
      </li>
      <li><a href="#" id="charity">公益特區</a></li>
    </ul>
    <div class="container-fluid">
      <!--Content and sidebar-->
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <br>
          <!--Sidebar content-->
          <ul class="nav nav-sidebar">
            <li>
              <div>
                <input type="text" data-provide="typeahead" placeholder=" Search">
                <a href="search.html" class="btn btn-info">Go</a>
              </div>
            </li>
            <br>
            <li class="active"><a href="#">最新</a></li>
            <li><a href="#">衣物</a></li>
            <li><a href="#">家電</a></li>
            <li><a href="#">文具</a></li>
            <li><a href="#">食品</a></li>
            <li><a href="#">傢俱</a></li>
            <li><a href="#">3C產品</a></li>
            <li><a href="#">廚房用具</a></li>
            <li><a href="#">清潔用具</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main content">
          <div class="row-fluid">
          <button class="btn btn-info" id="add">&#10010;</button>
          <ul class='modify'>
          </ul>




<!--             <div class="col-sm-4">
              <div class="thumbnail">
                <div class="holder">
                  <img src="../img/chair.jpg" alt="" width="150px" height="150px">
                </div><div class="caption">
                <h3>椅子</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-info">More</a></p>
              </div>
            </div>
          </div>

            <div class="col-sm-4">
              <div class="thumbnail">
                <div class="holder">
                  <img src="../img/mouse.png" alt="" width="150px" height="150px">
                </div>                
                <div class="caption">
                  <h3>滑鼠</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-info">More</a></p>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="thumbnail">
                <div class="holder">
                  <img src="../img/closet.jpg" alt="" width="150px" height="150px">
                </div>
                <div class="caption">
                <h3>鞋櫃</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-info">More</a></p>
              </div>
            </div>
          </div>        
         -->
        </div>
      </div>
    </div>
    <!-- Prompt login dialog Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="text-center">Login</h1>
          </div>
          <div class="modal-body">
            <form class="form col-md-12 center-block">
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Email" id="account">
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" id="password">
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" id="signIn">Sign In</button>
                <span class="pull-left"><a href="#">Don't have an account? Register!</a></span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="col-md-12">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <!-- Prompt login dialog modal end -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/home.js"></script>
</html>

