<!DOCTYPE html>
<html>
  <head>
    <title>Love Spreading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../css/selfdefine.css" rel="stylesheet" media="screen">
  </head>
  <body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">Love Spreading</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">自由交易</a>
      </li>
      <li><a href="#">公益特區</a></li>
    </ul>
    <div class="container-fluid">
      <!--Content and sidebar-->
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <!--Sidebar content-->
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">衣物</a></li>
            <li><a href="#">家電</a></li>
            <li><a href="#">文具</a></li>
            <li><a href="#">食品</a></li>
            <li><a href="#">傢俱</a></li>
            <li><a href="#">3C產品</a></li>
            <li><a href="#">廚房用具</a></li>
            <li><a href="#">清潔用具</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main content">
          <!--Body content-->
          <div class="col-sm-5">
            <img class="item_img_size" src="../img/rice_cooker.jpg">
          </div>
          <div class="item_holder">Andy Chang</div>
          <div class="credit">Credit: 100</div>
          <div class="item_description">家裡不要的大同電鍋ＸＤ<br>可以燒菜煮飯<br>我樣樣都行歐！<br>快把我帶回家：）<br>其實我是商品描述！</div>
            <button class="btn buy_btn" data-toggle="modal" data-target="#myModal">我要交換</button>
          </div>
          </div>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="dealModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="text-center">Danger</h1>
          </div>
          <div class="modal-body">
            <p>It will cost you credits.</p>
            <p>Are you sure to exchange this item?</p>
          </div>
          <div class="modal-footer">
            <div class="col-md-12">
              <button class="btn btn-info"><a href="deal.html">Confirm</a></button>
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->    
    <!-- // <script src="http://code.jquery.com/jquery.js"></script> -->
    <!-- // <script src="../js/bootstrap.js"></script> -->
    // <script src="../js/item.js"></script>
  </body>
</html>